{% extends "layout.html" %}

{% block title %}
    Double Slit Interference
{% endblock %}

{% block main %}
    {% if graph %}
        <div class="centered">
        <img src="../static/doubleSlitGraph.png" alt="Double Slit Graph">
        </div>
    {% endif %}
    <div class="mb-3">
        <p>Note: the model is gonna return a graph even if the input numbers are unrealistic</p>
    </div>
    <div class="col-md-4 col-sm-6 col-12 icon-box d-flex justify-content-center align-items-center">
        <div class="centered centered-form">
            <form action="/doubleSlitInterference" method="post" name="double_slit_form">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto slit-inputs" id="d" name="d" placeholder="d (m)" text-align:"center" type="text" value="{{d}}">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto slit-inputs" id="max_y" name="max_y" placeholder="max_y (m)" type="text" value="{{max_y}}">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto slit-inputs" id="max_x" name="max_x" placeholder="max_x (m)" type="text" value="{{max_x}}">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto slit-inputs" id="point_step" name="point_step" placeholder="point_step" type="text" value="{{point_step}}">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto slit-inputs" id="wavelength" name="wavelength" placeholder="wavelength (nm)" type="text" value="{{wavelength}}">
                <button class="better-button" type="submit" name="double_slit_button">Create Graph</button>
            </form>
        </div>
    </div>
{% endblock %}